#rButt {
	position: absolute;
	right: 0px;
}

.vcenter {
	min-height: 100%
	min-height: 100vh
	
	display: flex;
	align-items: center;
}

#footer {
	bottom: 0;
	width: 100%
	position: absolute;
	height: $height-footer;
}

.door{
	background-color: brown;

}

.botTop{
	height: 25px;
	width: 25px;
}

.side {
	height: 25px;
	width: 25px;
}